.red {
    color: red;
}

.yellow {
    color: yellow;
}

.background-green {
    background-color: green!important;
}

#cuadrado {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background-color: #3BEAB4;
}

button {
    background-color: #F46D63;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px;
    width: 100px;
    margin: 35px auto;
}